.footer {
  color: #777;
  float: left;
  text-align: center;
  margin-top: 50px;
  border-top: solid 1.5px #777;
}
// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
