<h1>Welcome to Andrews Sound Manager</h1>
<h2>Enjoy this vast music library</h2>
<p><%= link_to 'Andrew Sound Manager', controller: 'articles' %></p>
<p>Find me in app/views/andrew_sound_manager/index.html.erb</p>
