<h1>Welcome to Andrew's Sound Manager</h1>
<p>Browse, add to, update, and remove song titles. Enjoy this vast music library.</p>
<p><%= link_to 'Enter Andrews Sound Manager', controller: 'articles' %></p>
